.progress-bar {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 10px;
  width: 200px;
}

.progress-bar-fill {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}


.resize-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgba(0,0,0,0.1);
    z-index: 10;
  }
  .resize-handle-tl {
    top: -7px;
    left: -7px;
    cursor: nwse-resize;
  }
  .resize-handle-tr {
    top: -7px;
    right: -7px;
    cursor: nesw-resize;
  }
  .resize-handle-bl {
    bottom: -7px;
    left: -7px;
    cursor: nesw-resize;
  }
  .resize-handle-br {
    bottom: -7px;
    right: -7px;
    cursor: nwse-resize;
  }

/* Modern Window Styles */
.modern-window {
  background: rgba(28,34,41,0.5);
  border: none;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.modern-window-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c323a;
  height: 56px;
  border-bottom: 1px solid #444b54;
  position: relative;
  padding: 0 10px;
}

.modern-window-circle {
  width: 28px;
  height: 28px;
  background: #f3f3f3;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modern-window-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  pointer-events: none;
}

.modern-window-controls {
  display: flex;
  align-items: center;
  gap: 6px;
  
}

.modern-window-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modern-window-icon {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1;
  user-select: none;
}

.modern-window-content {
  background: rgba(28,34,41,0.5);
  color: #fff;
  min-height: 300px;
  height: 100%;
  padding: 0;
}

.window-icon-placeholder {
  width: 16px;
  height: 16px;
  background-color: #777;
  border-radius: 50%;
}